#all-messages {
    margin-top: 2%;
    background-image: url("/images/background.jpg");
    height: 730px;
}

#username {
    margin-top: 2%;
    margin-left: 34%;
    width: 30%;
}

#user-message {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 34%;
    width: 30%;
}

#send-btn {
    margin-left: 47%;
}

.user-name {
    color: red;
}

.message {
    color: green;
    margin-left: 1%;
}